body{
	background-image: url(images/bg.png) ;
	background-size: cover;
}

#affichage{
	background-image: url(images/cookie.png);
	background-size: cover;
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	
	width: 250px;
	height: 250px;
	font-size: 60px;
	text-align: center;
	 
	
}
/*#achat{
	border: solid red;
	width: 50px;
	height: 50px;
	font-size: 10px;
	margin-left: 23%;
	margin-top: -15px;
}*/
#Rampage{
	background-image: url(images/rampage.jpg);
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	font-size: 20px;
}
#multiplicateur{
	background-image: url(images/multi.jpg);
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	font-size: 20px;
}
#bouton{
	background-image: url(images/button.jpg);
	background-size: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	font-size: 20px;

}