

body{
	margin-left: 20%;
	margin-top: 10%;
}

#jeu{


}
#l1, #l2, #l3{
	display: flex;
}

	
	
#c1l1, #c1l2, #c1l3, #c2l1, #c2l2, #c2l3, #c3l1, #c3l2, #c3l3{
	width: 100px;
	height: 100px;
	border: solid;
}
.player1{
	background-color: green;
}
.player2{
	background-color:purple;
}